@model IEnumerable<MicroCRM.Models.NoteModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Record. no.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@{var counter = 1;}

@foreach (var item in Model) {
        <tr>
            <td>
                   @counter
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.NoteId}) |
                    @Html.ActionLink("Details", "Details", new { id=item.NoteId}) |
                    @if (User.IsInRole("Manager"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id=item.ProjectId })
                    }
            </td>
        </tr>
        counter++;
}
    </tbody>
</table>
